@import url("https://fonts.googleapis.com/css?family=Bitter");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: bitter;
}
html,
body {
  height: 100%;
  min-height: 100%;
}
a {
  text-decoration: none;
  color: #fff;
}
a.active {
  border-bottom: 2px solid #85c2ff;
}
.header {
  height: auto;
}
#header-scroll {
  
  height: 100%;
  background: rgb(156, 71, 138);
  left: 0;
  top: 0;
  float: left;
  width: 100%;
  -ms-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
#header-scroll h1 {
  padding: 200px 0;
  height: 100%;
  font-size: 4em;
  text-align: center;
  line-height: 40px;
  -ms-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
#header-scroll.small {
  height: auto;
  display: inline-block;
  float: left;
}
#header-scroll.small h1 {
  padding: 10px 0;
  height: auto;
  font-size: 1rem;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
}
body {
  font-family: 'Open Sans', sans-serif;
}
nav {
  width: 65%;
  height: 60px;
  top: 0;
  display: inline-block;
}
nav ul {
  padding: 20px;
  margin: 0 auto;
  list-style: none;
  text-align: center;
}
ul li {
  position: relative;
} 
ul li:hover div.sub-menu {
  display: block;
} 
div.sub-menu {
  background: white;
  position: absolute;
  top: 24px;
  box-shadow: 1px 1px 6px #00000047;
  width: 250px;
  left: 50%;
  display: none;
  transform: translate(-50%);
}
div.sub-menu a {
  color: black;
}  
div.sub-menu ul li {
  display: block;
  margin-top: 5px;  
}
nav ul li {
  display: inline-block;
  margin: 0 10px;
}
nav ul li a {
  padding: 10px 0;
  color: #fff;
  font-size: 1rem;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.2s ease;
}
nav ul li a:hover {
  color: #85c2ff;
}